.player {
  height: 200px;
  width: 100px;
  background-color: orange;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  &:hover {
    transform: scale(1.05);
  }
  &_prop {
    font-size: 1rem;
  }
}

.selected {
  background-color: red;
}
